<div id="<%= dom_id person %>">
  <p>
    <strong>Nombre:</strong>
    <%= person.nombre %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= person.correo %>
  </p>

  <p>
    <strong>Perfil:</strong>
    <%= person.perfil %>
  </p>

  <p>
    <strong>Ocupacion:</strong>
    <%= person.ocupacion %>
  </p>

</div>
