<p style="color: green"><%= notice %></p>

<%= render @person %>

<div>
  <%= link_to "Editar esta persona", edit_person_path(@person) %> |
  <%= link_to "Volver a personas", people_path %>

  <%= button_to "Eliminar esta persona", @person, method: :delete %>
</div>
