<p style="color: green"><%= notice %></p>

<%= render @contacto %>

<div>
  <%= link_to "Editar este contacto", edit_contacto_path(@contacto) %> |
  <%= link_to "Volver a contactos", contactos_path %>

  <%= button_to "Eliminar este contacto", @contacto, method: :delete %>
</div>
